# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
/build/
/dist/

# Ignore environment variable files
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore personal configuration files
*.config.js

# Ignore tests
charts_test

# Extra
.parcel-cache